/*
=================================================
HERO SECTION
=================================================
*/
.hero-section {
    background-color:#0287B8;
    background-image: url("img/bg-image.jpg");
    background-position: center;
    background-size: cover;
  }
  
  .hero-section h1 {
    color: #000;
    font-size: 56px;
    font-weight: 900;
  }
  
  .hero-section .lead {
    color: #fff;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    font-size: 22px;
  }
  
/*
=================================================
VARIOUS SECTIONS
=================================================
*/
  .presentation iframe {
    width: 100%;
    max-width: 856px;
    height: 518px;
  }

  .video iframe {
    width: 100%;
    max-width: 700px;
    height: 392px;
  }
  h1 {
    font-family: DotDigital;
    font: inherit;
    margin: 0;
	  padding: 0;
	  border: 0;
	  outline: 0;
	  font-size: 100%;
  }